section#home {
    width: 100vm;
    height: 100vh;
    background-image: url('../img/fondos/img1.jpg');
    background-attachment: fixed; /* deja fijo el fondo */
    background-size: cover; /* ajusta el fondo al maximo con cover */
    background-position: center;

}

section#about {
    width: 100vm;
    height: 100vh;
    background-image: url('../img/fondos/img2.jpg');
    background-size: cover; /* ajusta el fondo al maximo con cover */
    background-position: center;

}

section#contact {
    width: 100vm;
    height: 100vh;
    background-image: url('../img/fondos/img3.jpg');
    background-attachment: fixed; /* deja fijo el fondo */
    background-size: cover; /* ajusta el fondo al maximo con cover */
    background-position: center;

}

#home h1 {
    background-radius 10px 10px;
    -moz-animation: 0ms;
    -ms: ; /* internet explorer y edge */
    -webkit: ; /*safari y opera */
}